import pandas as pd
import http.client
import urllib.parse as urlparse
import sys
sys.path.insert(1, 'User Profile Overview')
from jooay_credentials import APPLICATION_ID, REST_API_KEY, READ_ONLY_MASTER_KEY
import json